body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monoscpace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #492364, #773aad);
  min-height: 100vh;
  color: white;
}

button{
  cursor:pointer;
}
.center {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}